body {
    background: rgb(0, 0, 0);
    background: linear-gradient(rgba(0,0,0,1) 0%,rgba(1,8,14,1) 25%,rgba(80,94,255,1) 50%,rgba(1,8,14,1) 75%,rgba(0,0,0,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.divisor {
    display: flex;
    align-items: center;
    margin: 88px 0px 40px
}

.divisor_line {
    height: 1px;
    width: 282px;
    background-color: #00F4BF;
}

.divisor_bar {
    
}

.dashboard {
    background-color: rgba(255, 255, 255,0.1);
    border-radius: 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #00F4BF;
    padding: 3rem;
    width: 100%;
}

.dashboard_itens {
    display: flex;
    justify-content: space-between;
}

.dashboard_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Inter', sans-serif;
}

.logo {
    display: flex;
    height: 200px;
    width: 300px;
}

.dashboard_img {
    display: flex;
    height: 150px;
    width: 150px;
    flex-direction: column;
}

.item_name {
    color: white;
}

.alugar {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    min-width: 13rem;
    border-radius: 1rem;
    background-color: #1875e8;
}

.devolver {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    min-width: 13rem;
    border-radius: 1rem;
    background-color: #78828f;
}
