/* Altera todos os elementos da página */
* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

/* Gradiente no fundo da pagina ocupando 100% da altura da tela */

body {
    background: linear-gradient(#13a563 0%, #04321b 33.33%, #043032 66.67%, #043223 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adicionar imagem no body da pagina */
body::before {
    background-image: url("code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

/* Definir container principal com 80% da largura */
.container {
    width: 80%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #061834;
    background-image: url("Ruido.png");
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
}

/* Configura a área de conteúdo 100% da largura */
.container_conteudo {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.container_informacoes {
    flex: 1;
    padding: 3rem;
}

.container_texto {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}

.container_texto-azul {
    color: #18e86b;
    display: block;
}

.container_campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.container_input {
    width: 130px;
    height: 72px;
    border-radius: 16px;
    background-color: #fff;
    border: none;
    color: #79e818;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.container_botoes {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.container_botao {
    border-radius: 16px;
    background: #24a13d;
    padding: 16px 24px;
    font-size: 24px;
    width: 100%;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.container_botao-desabilitado {
    border-radius: 16px;
    background: #6f6f70;
    padding: 16px 24px;
    font-size: 24px;
    width: 100%;
    font-weight: 700;
    border: none;
    cursor: not-allowed;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 2rem;
}

.texto_paragrafo {
    color: #FFF;
    font-family: 'Inter';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container_imagem {
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
}

.button:disabled {
    background-color: gray;
}

@media screen and (max-width> 1250px) {
    .container_imagem {
        display: none;
    }

    h1 {
        font-size: 50px;
    }
}